<style>
  h1,h2,h3,h5 {
    margin: 0;
  }
</style>

<h3><%= currentSchool %></h3>

<h5>NAME: <%= row[headers[0]] %></h5>
<h5>YR & COURSE: <%= row[headers[4]] %></h5>
<h5>DATE: <%= row[headers[3]] %></h5>
<h5>GENDER: <%= row[headers[2]] %></h5>
<h5>ORDER: <%= row[headers[5]] %></h5>
<h5>CONTACT NUMBER: <%= row[headers[1]] %></h5><br>

<h3>FEMALE MEASUREMENT</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
          <h5>Blouse</h5>
      </th>
      <th scope="col"><h5>Pants</h5></th>
      <th scope="col"><h5>Skirt</h5></th>
      <% if((row['Labgown? (Skirt)'] && row['Labgown? (Skirt)'] != '') || (row['Labgown? (Pants)'] && row['Labgown? (Pants)'] != '')) { %>
        <th scope="col"><h5>Labgown</h5></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <% measurements.top.forEach(measure => { %>
            <li><b><%= measure[0] %></b> - <%= row[measure[1]] %></li>
          <% }) %>
        </ul>
      </td>
      <td>
        <ul>
          <% measurements.pants.forEach(measure => { %>
            <li><b><%= measure[0] %></b> - <%= row[measure[1]] %></li>
          <% }) %>
        </ul>
      </td>
        <td>
          <ul>
            <% measurements.skirt.forEach(measure => { %>
              <li><b><%= measure[0] %></b> - <%= row[measure[1]] %></li>
            <% }) %>
          </ul>
        </td>
        <% if((row['Labgown? (Skirt)'] && row['Labgown? (Skirt)'] != '') || (row['Labgown? (Pants)'] && row['Labgown? (Pants)'] != '')) { %>
          <td>
            <ul>
              <% measurements.labGown.forEach(measure => { %>
                <li><b><%= measure[0] %></b> - <%= row[measure[1]] %></li>
              <% }) %>
            </ul>
          </td>
        <% } %>
    </tr>
  </tbody>
</table>